<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_01.png" alt="">
                    </div>
                    <h4>Notifications</h4>
                    <div class="line-dec"></div>
                    <p>Get notified about latest updates of post or story in Instagram account.</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_02.png" alt="">
                    </div>
                    <h4>Lovely Designs</h4>
                    <div class="line-dec"></div>
                    <p>Lovely Designs, Sketches, Nature art and Dressing styles on my feed. </p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_03.png" alt="">
                    </div>
                    <h4>Daily Updates</h4>
                    <div class="line-dec"></div>
                    <p>Get updates everyday about latest Fashion and Art crafts and show love.</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_04.png" alt="">
                    </div>
                    <h4>One-Click Follow</h4>
                    <div class="line-dec"></div>
                    <p>Follow my instagram account in one click. Find the link in the contact section.</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
