

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="logo">
                    <a class="logo-ft scroll-top" href="#"><em>M</em>odaesperto</a>
                    <p>Copyright &copy; 2020 Modaesperto 
                   <br>Developer : Shubham Chauhan</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="location">
                    <h4>Location : </h4>
                    <ul>
                        <li>Laxmi Nivas, <br>Nagpur 440023</li>
                        <li>Laxmi Nivas, <br>Nagpur 440023</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="contact-info">
                    <h4>More Info : </h4>
                    <ul>
                        <li><em>Phone</em>: +91 904-902-7502</li>
                        <li><em>Email</em>: Shreyachandel2002@gmail.com</li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-md-2 col-sm-12">
                <div class="connect-us">
                    <h4>Get Social with us</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</footer>
