<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="owl-testimonials" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“The great thing about fashion is that it always looks forward.”</p>
                            <h4>Oscar De La Renta</h4>
                            <span>Fashion Designer</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“Don’t be into trends. Don’t make fashion own you, but you decide what you are, what you want to express by the way you dress and the way you live.”</p>
                            <h4>Gianni Versace</h4>
                            <span>Fashion Designer</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“Fashion is only the attempt to realize art in living forms and social intercourse.”</p>
                            <h4>Sir Francis Bacon</h4>
                            <span>Philosopher</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“Anyone can get dressed up and glamorous, but it is how people dress in their days off that are the most intriguing.”</p>
                            <h4>Alexander Wang</h4>
                            <span>Fashion Designer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
