<div class="tabs-content" id="blog">
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <div class="col-md-4">
                    <div class="section-heading">
                        <h4>Our Blog Posts</h4>
                        <div class="line-dec"></div>
                        <p>Look at some of popular blogs about Fashion and ART Technologies.</p>
                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab1" class="active">Cordelia Tai</a></li>
                            <li><a href="#tab2">Alison Baitz</a></li>
                            <li><a href="#tab3">Canva</a></li>
                            <li><a href="#tab4">Juxtapose</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <img src="assets/img/blog_item_01.jpg" alt="">
                            <div class="text-content">
                                <h4>Cordelia Tai</h4>
                                <span><a href="#">Dress Design</a> / <a href="#">Honey</a> / <a href="#">26 September 2017</a></span>
                                <p>Browsing through The Zine visitors will discover and get to know brilliant artists—both emerging and established—from around the world, presented through artist features and interviews.</p>
                            </div>
                        </div>
                        <div id="tab2">
                            <img src="assets/img/blog_item_02.jpg" alt="">
                            <div class="text-content">
                                <h4>Alison Baitz</h4>
                                <span><a href="#">Branding</a> / <a href="#">David</a> / <a href="#">14 September 2017</a></span>
                                <p>One section of the blog is designated for displaying the original artwork created and submitted by the BOOOOOOOM community, which gives blog readers an ever-evolving line of fresh artwork to feast your eyes upon.</p>
                            </div>
                        </div>
                        <div id="tab3">
                            <img src="assets/img/blog_item_03.jpg" alt="">
                            <div class="text-content">
                                <h4>Canva</h4>
                                <span><a href="#">Interior Design</a> / <a href="#">William</a> / <a href="#">20 August 2017</a></span>
                                <p>The mission of the blog is to learn how to build their personal brand and inspire designers to create the best designs basing on the hottest trends in the business. </p>
                            </div>
                        </div>
                        <div id="tab4">
                            <img src="assets/img/blog_item_04.jpg" alt="">
                            <div class="text-content">
                                <h4>Juxtapose</h4>
                                <span><a href="#">Sketch Design</a> / <a href="#">George</a> / <a href="#">14 August 2017</a></span>
                                <p>The emphasis the Juxtapoz blog puts on promoting the artist’s work pre-exhibition is what really makes them stand out since it gives readers the opportunity to meet the artist and see their artwork up close in person at a live event.</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
